/* || RESETS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

hr {
    margin: 3% 12%;
    border: none;
    height: 2px;
    background-color: #35605a;
}

html {
    scroll-padding-top: 4rem;
}

/* || HEADER & NAVIGATION */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    padding: 2rem;
    height: 3rem;
    position: sticky;
    top: 0;
}

.header .logo {
    margin-left: 5%;
}

.header .all-nav {
    margin-right: 5%;
}

.header .all-nav .nav {
    text-decoration: none;
    font-size: 1.2rem;
    padding: 1.1rem;
}

.nav i {
    padding: 0.8rem;
}

/* Header Pseudoclasses */
.header a:visited{
    color: #35605a;
}

.header .logo i:hover {
    color: #303036;
    transform: scale(1.2);
    transition: 0.3s;
}

.header .all-nav a:hover {
    color: #303036;
    transition: 0.3s;
}


/* || NAME HERO */
.name-position {
    font-size: 2.5rem;
    margin-top: 5%;
    height: 650px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.name-position h1 {
    color: #303036;
    padding: 1.5rem;
}

.name-position strong {
    color:#35605a;
}

/* || MAIN SECTIONS */

.all-about, .all-projects {
    margin-left: 8%;
    margin-right: 8%;
}

/* About */
.about {
    display: flex;
}

.all-about .about .photo {
    border: solid 1px #35605a;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

h2 {
    font-size: 4rem;
    padding-bottom: 3%;
    text-align: center;
    color: #35605a;
}

.all-about .about span {
    padding: 1rem;
}

/* || PROJECTS */
#all-projects {
    display: grid;
    grid-template-rows: 500px 450px 350px;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    'project-info-one project-img-one'
    'project-img-two project-info-two'
    'project-info-three project-img-three';
}

#project-info-one {
    grid-area: project-info-one;
}

#project-img-one {
    grid-area: project-img-one;
    background-image: url(https://api.lorem.space/image/watch?)

}

#project-info-two {
    grid-area: project-info-two;
}

#project-img-two {
    grid-area: project-img-two;
    background-image: url(https://api.lorem.space/image/watch?)

}

#project-info-three {
    grid-area: project-info-three;
}

#project-img-three {
    grid-area: project-img-three;
    background-image: url(https://api.lorem.space/image/watch?)

}

.project-img {
    margin: 10%;
}

.project-img-left {
    box-shadow: -50px -50px #35605a;
    border-right: solid 4px #303036;
}

.project-img-right {
    box-shadow: 50px 50px #35605a;
    border-left: solid 4px #303036;
}

.project-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color:#35605a;
}

.project-info h3 {
    margin-bottom: 1rem;
    font-size: 2.5rem;
}

.project-info-left {
    text-align: right;
}

.all-projects {
    background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
}



/* || FOOTER */
footer {
    background-color: #303036;
    margin: 5%;
    border-top: none;
    height: 400px;
}

h4 {
    font-size: 4rem;
    padding-bottom: 3%;
    text-align: center;
    color:#fff;
    padding-top: 5%;
}
